
<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f3 b lh-title mb2 w-40-l">Our Tools</h2>
    <ul class="w-60-l mb0" style="list-style-type: square; list-style-position: inside;">
    	<li>Premium online marketing campaign to 70,000+ websites and 300+ search engines (including the MLS, Zillow, Trulia, Facebook, Instagram, etc.) to ensure maximum exposure for your property</li>
    	<li>MLS and direct marketing to agents in all three jurisdictions (DC, MD, VA)</li>
    	<li>Frequent open house availability with special listing launch open house and catered food</li>
    	<li>Custom website with floor plans</li>
    	<li>Top-level professional photography with incredible brochures</li>
    	<li>Staging consultation</li>
    	<li>Weekly market updates</li>
    	<li>ShowingTime App for tracking showings and feedback</li>
    </ul>
  </div>
</div>
