<footer class="bg-white ph3 pv4 black">

	<div class="mw6 center pt3">

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Okey & Associates</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/buying" class="link">Buying</a></li>
					<li><a href="/selling" class="link">Selling</a></li>
					<li><a href="/commercial" class="link">Commercial</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>

		<div class="tc center f6 lh-copy mv4">
			<p>Offices located in Washington D.C., Maryland & Virginia</p>
			<p>Dupont - Capitol Hill - Tenley - Rockville - Bethesda - Fairfax - Stafford</p>
			<p>Phone: (703) 964-1290</p>
			<p>4031 University Drive, Suite 500, Fairfax, VA 22030</p>
		</div>

		<div class="o-70 mv4 center">
			<div class="center flex-ns justify-between">
				<img class="di h3 mh1" src="/img/realtor.png">
				<img class="di h3 mh1" src="/img/kwcp_logo.png">
				<img class="di h3 mh1"src="/img/equal_housing.jpg">
			</div>
			<div>
				<p class="db f6 mv3 tc">Each office is independently owned and operated.</p>
			</div>
			
		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
