<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w4 flex-none">
		<img src="/img/oaa_logo.png" alt="Okey & Associates" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/" class="pa3 f6 no-underline db">Home</a></li>
		<li><a href="/buying" class="pa3 f6 no-underline db">Buying</a></li>

		<li><a href="/selling" class="pa3 f6 no-underline db">Selling</a></li>

		<li><a href="/commercial" class="pa3 f6 no-underline db">Commercial</a></li>

		<li><a href="/about" class="pa3 f6 no-underline db">About</a></li>

		<li><a href="/contact" class="pa3 f6 no-underline db">Contact</a></li>
	</ul>

</nav>

<div class="bg-primary white flex flex-wrap">
	<div class="white center tc ma3 pl1 pr1">
		<p class="f5">Your Expert Real Estate Consultants For Life!</p>
		<p class="f6" style="margin-top: -1.3em;">Serving DC, Maryland, & Virginia</p>
	</div>
      
      <p class="f5 white center tc ma3 pl2 pr2">(202) 412-4533</p>
      <p class="f5 white center tc ma3 pl2 pr2">hello@okeyandassociates.com</p>
</div>
