<!-- Contact -->
<div class="mb4 pv4">
  <h4 class="f3 b lh-title mb3 tc">Get Your Free Home Evaluation and Pre-Listing Consultation</h4>

  <form name="valuation" method="POST" action="" netlify>

    <fieldset>
      <input type="text" id="name" placeholder="Address" class="w-100 mb2">
      <label for="address">Address</label>
    </fieldset>

      <!-- Email -->
    <fieldset>
      <input type="email" id="email" placeholder="Email" class="w-100 mb2">
      <label for="email">Email</label>
    </fieldset>

    <fieldset>
      <input type="tel" id="phone" placeholder="Phone Number" class="w-100 mb2">
      <label for="phone">Email</label>
    </fieldset>

        <!-- Button -->
    <div class="tc">
      <button type="submit" class="btn w-100 w-auto-ns raise">Submit</button>
    </div>
  </form>
</div>
